/* general */
*{
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* header */

#nav_section{
    display: flex;
    justify-content: center;
    align-items: center;

    /* debug */
    background-color: aquamarine;
    height: 50px;
   
}

#nav_container{
    
    width:80% ;
    /* devug */
    height: 30px;
    background-color: rgb(255, 196, 0);
}

#download_section{
    display: flex;
    justify-content: center;
    align-items: center;

     /* debug */
     background-color: rgb(11, 29, 165);
     height: 400px;
}

#download_container {
    width:65% ;
    /* devug */
    height: 80%;
    background-color: rgb(255, 141, 244);
}

/* main */
main section{
    display: flex;
    justify-content: center;
    align-items: center;
      /* debug */
      height: 450px;
}

/* gray BG section */
main section:nth-child(even){
    flex-direction: row-reverse;
    /* debug */
background-color: rgb(191, 191, 191);
} 

main section:last-child div{
    width:80% ;
    /* devug */
    height: 90%;
    background-color: rgb(24, 160, 0);
}


.img_container{ 
    width: 45%;
 /* debug */
 height: 90%;
 background-color: rgb(40, 145, 244);
}

.info_container{
    width: 35%;
 /* debug */
 height: 90%;
 background-color: rgb(255, 198, 218);
}

/* footer */
footer section{
     /* debug */
    height: 100px;
    background-color: rgb(35, 34, 39);
    border-bottom: 2px solid wheat;
}